#custom_container {

  width: auto;
  height: auto ;

}

#container_left {
  float: left;
  width: 15%;
  height: 100%;
}

#container_right {
  float: right;
  width: 80%;
  height: 100%;

}

ul.custom_post {
  list-style: none;
}

ul.custom_post a {
  text-decoration: none;
}

img.post_feature_img {
  max-width: 100%;
  max-height: 100%;
}
