#custom_container {

  width: auto;
  height: auto ;

}

#container_left {
  float: left;
  width: 25%;
  height: 100%;
}

#container_right {
  float: right;
  width: 70%;
  height: 100%;

}

ul li, .custom_post {
  list-style: none;
  margin: 0 0  4px !important;
}

ul.custom_post a {
  text-decoration: none;
}

img.post_feature_img {
  max-width: 100%;
  max-height: 100%;
}

.page__meta-custom {
  margin-top: 2em;
  color: #898c8f;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-size: 0.75em;
  margin: 0 0 4px !important;
}
