.custom_container {
  height: auto;

}

.container_right {
float: right;
margin-left: 10px;
width: auto;
}

.container_left {
float: left;
}

ul.custom_post {
list-style: none;
}

ul.custom_post a {
  text-decoration: none;
}
