#custom_container {

  width: auto;
  height: auto ;
  margin-top: 30px;

}

#container_left {
  float: left;
  width: 25%;
  height: 100%;
}

#container_right {
  float: right;
  width: 70%;
  height: 100%;

}

ul.custom_post {
  list-style: none;
  margin: 0 0  4px !important;
}

ul.custom_post li {
  margin: 0 0  4px !important;
}

ul.custom_post a {
  text-decoration: none;
}

.custom_link {
  text-decoration: none;
}

img.post_feature_img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.text-underline {
  text-decoration: underline;
}

.page__meta-custom {
  margin-top: 2em;
  color: #898c8f;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-size: 0.75em;
  margin: 0 0 4px !important;
}


.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
}

.photo-gallery li {
	display: inline-block;
	width: 98%;
}

.photo-gallery li img {
	width: 100%;
}

.photo-gallery-2col, .photo-gallery-2col li {
	list-style: none;
	padding: 0;
}

.photo-gallery-2col li {
	display: inline-block;
	width: 48%;
}

.photo-gallery-2col li img {
	width: 100%;
}

.photo-gallery-3col, .photo-gallery-3col li {
	list-style: none;
	padding: 0;
}

.photo-gallery-3col li {
	display: inline-block;
	width: 32%;
}

.photo-gallery-3col li img {
	width: 100%;
}

.custom-figure {
  margin: 0 0 -1em 0 !important;
}

.custom-figcaption {
  text-align: center !important;
}

.galley_img:hover{
    color: #424242;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.5);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari and Chrome */

}
