.custom_container {
  height: auto;

}

.container_right {
float: right;
margin-left: 10px;
width: auto;
}

.container_left {
float: left;
}

ul.custom_post {
list-style: none;
}

ul.custom_post a {
  text-decoration: none;
}

img.post_feature_img {
  width: 75% content-box;
  height: 75% content-box;
}
